<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reuters Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="What are you looking for ?" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <% if(title !== null){ %>
          <p><%= title %></p>
          <p><%= dateline %></p>
          <p><%= body %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
