<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reuters Search Engine</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="value" type="text" class="ghost-input" placeholder="What are you looking for ?" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <% if(title !== null){ %>
          <table>
              <% for(var i=0; i < result.hits.hits.length; i++) { %>
               <p id="title">

               <h1>  <%= result.hits.hits[i]._source.fields.text.title %> <h1>

               </p>
               <p  id="dateline"><%=  result.hits.hits[i]._source.fields.text.dateline %></p>
               <p id="body">

                 <%=  result.hits.hits[i]._source.fields.text.body %>

               </p>
              <% } %>
        </table>

        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
